*{
	margin: 0;
	padding: 0;
}
body{

}
.header .header1{
	height: 185px;
	width: 100%;
	background-image: url("images/head.jpg");
	text-align: center;
}
#logo{

}
.main-bar{
	background: #ffb628;
	padding: 5px 0;

}
#menu{
	text-align: center;
}
#menu ul{
	list-style: none;
	font-family: Arial, san-serif;
	font-size: 12px;

	}
#menu ul li{
	float:left;
	position:relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 40px;
	}
#menu ul li a{
	display: block;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	padding: 6px 0px 3px 0px;
	color: #010101;

}
#menu ul a:hover{
	background:;
	}

#menu li ul a{
background:#ffb628;
}

#menu li ul{
	position:absolute;
	display:none;
	width: 320px;
	left: -40px;
}
#menu li:hover ul{
	display:block;
}


.h-title{
	float: left;

	font-size: 50px;
	font-weight: bold;
	border-bottom: 1px solid black;

}
.nav-tabs{
	float: right;

}