@charset "UTF-8";
a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none; }

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0; }

label {
  font-weight: normal; }

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px; }

select {
  padding-left: 8px; }

input[type="number"] {
  padding-left: 5px; }

textarea {
  padding: 8px 12px 5px 12px; }

input, textarea, select, button, a {
  outline: none; }

button {
  border: none;
  background: none; }

img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover; }

.relative {
  position: relative; }

.static {
  position: static; }

.absolute {
  position: absolute; }

.text-justify {
  text-align: justify; }

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both; }

.row-ibl {
  font-size: 0; }
  .row-ibl > [class^="col-"] {
    font-size: 14px;
    float: none;
    display: inline-block;
    vertical-align: top; }
  .row-ibl:after {
    content: '';
    display: inline-block;
    width: 100%; }
  .row-ibl.mid > [class^="col-"] {
    vertical-align: middle; }
  .row-ibl.bot > [class^="col-"] {
    vertical-align: bottom; }
  .row-ibl > [class^="col-"].i-mid {
    vertical-align: middle; }
  .row-ibl > [class^="col-"].i-top {
    vertical-align: top; }
  .row-ibl > [class^="col-"].i-bot {
    vertical-align: bottom; }

.col-xs-f20, .col-sm-f20, .col-md-f20, .col-lg-f20 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold; }
@font-face {
  font-family: 'UVNKIEU';
  src: url("../fonts/UVNKIEU_R_1.TTF") format("truetype"); }
@font-face {
  font-family: 'UVNKIEU';
  src: url("../fonts/UVNKIEU_0.TTF") format("truetype");
  font-weight: bold; }
.col-xs-f20 {
  float: left;
  width: 20%; }

@media (min-width: 768px) {
  .col-sm-f20 {
    float: left;
    width: 20%; } }
@media (min-width: 992px) {
  .col-md-f20 {
    float: left;
    width: 20%; } }
@media (min-width: 1200px) {
  .col-lg-f20 {
    float: left;
    width: 20%; } }
.pad-0 {
  padding-left: 0px;
  padding-right: 0px; }

.pad-5 {
  padding-left: 5px;
  padding-right: 5px; }

.pad-8 {
  padding-left: 8px;
  padding-right: 8px; }

.pad-10 {
  padding-left: 10px;
  padding-right: 10px; }

.margin-auto {
  margin-left: auto;
  margin-right: auto; }

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px; }

.col-mar-0 > div[class^="col-"] {
  padding-left: 0px;
  padding-right: 0px; }

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px; }

.col-mar-5 > div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px; }

.col-mar-8 > div[class^="col-"] {
  padding-left: 8px;
  padding-right: 8px; }

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px; }

.col-mar-10 > div[class^="col-"] {
  padding-left: 10px;
  padding-right: 10px; }

.delay02 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.delay04 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.delay06 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.c-img {
  display: block;
  position: relative;
  padding-top: 100%; }
  .c-img img, .c-img .bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit; }

.hv-over {
  display: block;
  position: relative; }
  .hv-over:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    pointer-events: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-over:hover:after {
    background: rgba(255, 182, 40, 0.4); }

.hv-scale {
  overflow: hidden;
  display: block; }
  .hv-scale img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-scale:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.hv-light {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  background: #fff; }
  .hv-light:before, .hv-light:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none; }
  .hv-light:before {
    right: 0;
    bottom: 0;
    background: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  .hv-light:after {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    -webkit-transition: 0.75s ease-in-out;
    transition: 0.75s ease-in-out;
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .hv-light:hover:before {
    background: rgba(242, 211, 0, 0.2); }
  .hv-light:hover:after {
    -webkit-transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(2, 1.5, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

@media all and (max-width: 1199px) {
  .md-left {
    text-align: left; }

  .md-center {
    text-align: center; }

  .md-right {
    text-align: right; } }
@media all and (max-width: 991px) {
  .sm-left {
    text-align: left; }

  .sm-center {
    text-align: center; }

  .sm-right {
    text-align: right; } }
@media all and (max-width: 767px) {
  .xs-left {
    text-align: left; }

  .xs-center {
    text-align: center; }

  .xs-right {
    text-align: right; } }
.table {
  display: table;
  margin: 0; }
  .table .line {
    display: table-row; }
  .table .cell {
    display: table-cell; }

body {
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.5;
  color: #333; }

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px; }
.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px; }
.s-content li {
  list-style: inherit;
  margin-bottom: 5px; }
.s-content p {
  margin-bottom: 10px; }
.s-content img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  width: auto !important;
  height: auto !important; }
.s-content table, .s-content iframe {
  max-width: 100%; }

.s-social .fb_iframe_widget, .s-social a.pinterest {
  display: inline-block;
  vertical-align: top;
  margin-top: -1px; }

header {
  margin-bottom: 40px; }
  header .header {
    text-align: center;
    padding: 20px 0;
    background-image: url("../images/head-bg.jpg"); }
    header .header .logo {
      display: inline-block;
      vertical-align: middle; }
  header.sub {
    margin-bottom: 0; }

.main-bar {
  background: #ffb628;
  padding: 5px 0; }

.main-nav {
  text-align: center; }
  .main-nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 40px; }
    .main-nav > ul > li > a {
      display: block;
      font-size: 18px;
      text-transform: uppercase;
      position: relative;
      padding: 6px 0px 3px 0px;
      color: #010101; }
      .main-nav > ul > li > a:before {
        content: '';
        position: absolute;
        bottom: 3px;
        left: 50%;
        right: 50%;
        height: 2px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        background: #010101;
        background: -webkit-gradient(linear, left top, right top, from(rgba(1, 1, 1, 0)), color-stop(#010101), to(rgba(1, 1, 1, 0)));
        background: linear-gradient(to right, rgba(1, 1, 1, 0), #010101, rgba(1, 1, 1, 0)); }
      .main-nav > ul > li > a:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        right: -42px;
        background: #010101;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0)), color-stop(#010101), to(rgba(1, 1, 1, 0)));
        background: linear-gradient(rgba(1, 1, 1, 0), #010101, rgba(1, 1, 1, 0)); }
    .main-nav > ul > li:last-child > a:after {
      content: none;
      display: none; }
    .main-nav > ul > li:hover > a:before {
      left: 0;
      right: 0;
      opacity: 1; }
  .main-nav li {
    position: relative; }
    .main-nav li ul {
      position: absolute;
      min-width: 220px;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 1;
      margin-top: 10px;
      pointer-events: none;
      opacity: 0;
      padding-top: 10px; }
      .main-nav li ul ul {
        left: 100%;
        top: 0;
        padding-top: 0;
        padding-left: 5px; }
      .main-nav li ul a {
        background: rgba(255, 182, 40, 0.85);
        display: block;
        font-size: 16px;
        padding: 10px 15px 8px 15px;
        color: #010101;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3); }
      .main-nav li ul li:hover > a {
        background: #ffb628; }
    .main-nav li:hover > ul {
      margin-top: 0;
      pointer-events: all;
      opacity: 1; }

.menu-btn {
  display: none; }

.back-to-top {
  display: none;
  position: fixed;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  z-index: 999;
  width: 40px;
  height: 40px;
  line-height: 40px;
  right: 15px;
  bottom: 15px;
  background: rgba(255, 182, 40, 0.8);
  color: #fff; }
  .back-to-top:hover {
    background: #ffb628; }

.h-title {
  font-family: "UVNKIEU";
  font-size: 50px;
  line-height: 1;
  color: #020202;
  font-weight: bold;
  border-bottom: solid 1px;
  margin-bottom: 30px; }

.h-tab {
  text-align: right;
  margin-top: -63px;
  margin-bottom: 30px; }
  .h-tab li {
    display: inline-block;
    vertical-align: middle; }
    .h-tab li a {
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      padding: 5px 15px;
      border: solid 1px transparent;
      margin-bottom: -1px; }
    .h-tab li.active a {
      border-color: #020202; }

.star-base {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  background: url("../images/gray.png");
  font-size: 0;
  position: relative; }
  .star-base a {
    display: inline-block;
    width: 16px;
    height: 16px; }
  .star-base .star-rate {
    background: url("../images/orange.png");
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    pointer-events: none; }

.star-rating.line .star-base, .star-rating.line .rating-review {
  display: inline-block;
  vertical-align: middle; }
.star-rating.line .rating-review div {
  display: inline-block; }

.shop {
  max-width: 300px;
  margin: 0 auto 30px auto;
  text-align: left; }
  .shop .c-img {
    padding-top: 64%; }
  .shop .ct {
    background: #ebebeb;
    padding: 10px; }
    .shop .ct .title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2px; }
      .shop .ct .title a:hover {
        color: #ffb628; }
    .shop .ct .add {
      font-style: italic;
      color: #666;
      margin-bottom: 2px; }
    .shop .ct p {
      font-family: "Arial";
      line-height: 22px;
      height: 66px;
      overflow: hidden; }
    .shop .ct .star-rating {
      margin-bottom: 5px; }

.sb-form {
  background: #000;
  padding: 3px 3px 15px 3px;
  margin-bottom: 30px; }
  .sb-form .title {
    background: #ffb628;
    text-transform: uppercase;
    color: #000;
    padding: 7px 6px 6px;
    text-align: center;
    margin-bottom: 15px; }
  .sb-form form {
    padding: 0 12px; }
    .sb-form form p {
      color: #ffb628;
      margin-bottom: 4px; }
    .sb-form form input, .sb-form form select {
      width: 100%;
      height: 35px;
      border: none;
      margin-bottom: 15px; }
    .sb-form form button {
      background: #ffb628;
      padding: 6px 25px;
      color: #000; }
    .sb-form form .cell {
      vertical-align: bottom; }

.sb-posts {
  background: #000;
  padding: 3px 3px 1px 3px;
  margin-bottom: 30px; }
  .sb-posts .title {
    background: #ffb628;
    text-transform: uppercase;
    color: #000;
    padding: 7px 6px 6px;
    text-align: center;
    margin-bottom: 15px; }
  .sb-posts .list {
    padding: 0 12px; }

.sb-post {
  margin-bottom: 15px; }
  .sb-post .img {
    float: left;
    display: block;
    width: 100px; }
    .sb-post .img img {
      display: block;
      width: 100%; }
  .sb-post .ct {
    margin-left: 110px; }
    .sb-post .ct .name {
      font-weight: bold;
      color: #fff; }
      .sb-post .ct .name a:hover {
        color: #ffb628; }
    .sb-post .ct p {
      color: #fff; }

.sb-banner {
  margin: 0 auto 30px auto;
  max-width: 350px; }
  .sb-banner img {
    display: block;
    width: 100%; }

.md-title {
  text-align: center;
  font-size: 50px;
  color: #ffb628;
  margin-bottom: 30px;
  font-family: "UVNKIEU";
  font-weight: bold;
  padding-bottom: 15px;
  background: url("../images/bor.png") no-repeat center bottom; }
  .md-title.v2 {
    color: #7b0200;
    background-image: url("../images/bor2.png"); }

.h-featured {
  background-image: url("../images/bg1.jpg");
  padding: 40px 0 40px 0;
  margin-top: 20px; }
  .h-featured .item {
    margin-bottom: 20px; }
    .h-featured .item .img {
      width: 160px;
      float: left;
      display: block; }
      .h-featured .item .img img {
        display: block;
        width: 100%; }
    .h-featured .item .ct {
      margin-left: 180px; }
      .h-featured .item .ct .name {
        font-size: 18px;
        color: #fff;
        font-family: "Arial";
        margin-bottom: 3px; }
        .h-featured .item .ct .name a:hover {
          color: #ffb628; }
      .h-featured .item .ct p {
        color: #999;
        font-style: italic;
        font-family: "Arial"; }

.h-posts {
  background-image: url("../images/bg2.jpg");
  padding: 40px 0 40px 0; }
  .h-posts .more {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 80px 8px 80px;
    border: solid 1px #7b0200; }
    .h-posts .more:hover {
      background: #7b0200;
      color: #fff; }

.post {
  max-width: 380px;
  margin: 0 auto 30px auto; }
  .post .c-img {
    padding-top: 64%; }
  .post .ct {
    background: #fff;
    padding: 12px 15px; }
    .post .ct .title {
      font-size: 15px;
      color: #7b0200;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 5px; }
      .post .ct .title a:hover {
        color: #ffb628; }
    .post .ct p {
      font-family: "Arial"; }

.footer {
  background: #ebebeb;
  padding: 40px 0; }
  .footer .foot-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px; }
  .footer ul li {
    margin-bottom: 6px;
    position: relative;
    padding-left: 15px;
    margin-left: 3px; }
    .footer ul li:before {
      content: '';
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #333;
      position: absolute;
      left: 0;
      top: 8px; }
    .footer ul li a:hover {
      color: #ffb628; }
  .footer .s-content {
    line-height: 1.8; }

.foot {
  background: #000;
  color: #fff;
  padding: 30px 0;
  text-align: center; }
  .foot .s-content {
    line-height: 1.8; }

.breadcrumb {
  background: none;
  padding: 12px 0;
  border-radius: 0;
  margin-bottom: 0; }

.breadcrumb a:hover {
  color: #ffb628; }

.breadcrumb > li + li:before {
  color: inherit;
  font-family: FontAwesome;
  content: "\f105"; }

.first-post {
  position: relative;
  margin-bottom: 10px; }
  .first-post img {
    display: block;
    width: 100%; }
  .first-post .ct {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6); }
    .first-post .ct .title {
      font-size: 18px;
      font-weight: bold;
      color: #ffb628;
      text-transform: uppercase;
      margin-bottom: 5px; }
      .first-post .ct .title a:hover {
        color: #fff; }
    .first-post .ct p {
      color: #fff;
      line-height: 1.7; }

.p-title {
  font-size: 50px;
  font-family: "UVNKIEU";
  color: #7b0200;
  margin-bottom: 10px;
  font-weight: bold; }

.news {
  margin: 0 auto 30px auto; }
  .news .img {
    width: 350px;
    float: left;
    display: block; }
  .news .ct {
    margin-left: 375px; }
  .news .title {
    font-size: 18px;
    text-transform: uppercase;
    color: #7b0200;
    margin-bottom: 5px; }
  .news .table {
    margin-bottom: 8px; }
  .news span {
    color: #888;
    font-style: italic; }
  .news p {
    margin-bottom: 5px; }
  .news .info {
    color: #888; }

.te-pagination {
  margin: 30px 0 40px 0; }
  .te-pagination a, .te-pagination strong {
    font-weight: normal;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 30px;
    background: #f1f1f1;
    color: #7b0200; }
  .te-pagination a:hover, .te-pagination strong {
    background: #7b0200;
    color: #fff; }

.single .date {
  font-style: italic;
  color: #666;
  margin-bottom: 8px; }
.single .title {
  text-transform: uppercase;
  color: #7b0200;
  font-size: 24px;
  margin-bottom: 10px; }
.single .s-content {
  margin-bottom: 15px; }

@media all and (min-width: 1200px) {
  .container {
    width: 1200px; } }
@media all and (max-width: 991px) {
  header {
    position: relative; }

  .main-bar {
    padding: 0; }

  .menu-btn {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: rgba(255, 182, 40, 0.8);
    background: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -20px;
    z-index: 1; }
    .menu-btn i {
      display: block;
      margin: auto;
      border-top: solid 2px #ffb628;
      width: 17px;
      border-bottom: double 7px #ffb628;
      height: 12px; }
    .menu-btn.active i {
      width: auto;
      height: auto;
      border: none; }
      .menu-btn.active i:after, .menu-btn.active i:before {
        content: '';
        display: block;
        margin: auto;
        width: 17px;
        border-bottom: solid 2px #ffb628; }
      .menu-btn.active i:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        margin-top: -2px; }
      .menu-btn.active i:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }

  .main-nav {
    border-top: none;
    margin-top: 0;
    text-align: left; }
    .main-nav > ul {
      background: #ffb628;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 95vh;
      overflow: auto;
      display: none;
      z-index: 2; }
      .main-nav > ul > li {
        float: none;
        display: block;
        margin: 0; }
        .main-nav > ul > li > a {
          display: block;
          padding: 10px 20px;
          border-top: solid 1px rgba(255, 255, 255, 0.2);
          font-size: 14px; }
          .main-nav > ul > li > a:not(:only-child):after {
            content: none; }
          .main-nav > ul > li > a:before, .main-nav > ul > li > a:after {
            content: none; }
      .main-nav > ul ul {
        display: none;
        position: static;
        background: rgba(0, 0, 0, 0.1);
        -webkit-transition: none;
        transition: none;
        opacity: 1;
        pointer-events: all;
        margin: 0;
        padding: 0; }
        .main-nav > ul ul a {
          padding: 10px 20px 10px 40px;
          font-size: 14px;
          background: none;
          display: block;
          border-top: solid 1px rgba(255, 255, 255, 0.2);
          border-bottom: none; }
        .main-nav > ul ul ul a {
          padding-left: 60px; }
        .main-nav > ul ul li:hover > a {
          background: none; }
    .main-nav li i {
      width: 41px;
      height: 41px;
      float: right;
      margin-top: 1px;
      font-size: 18px;
      line-height: 42px;
      text-align: center;
      top: 0;
      position: relative;
      z-index: 1;
      cursor: pointer;
      background: rgba(0, 0, 0, 0.15);
      font-style: normal;
      color: #fff; }
      .main-nav li i:after {
        font-family: "FontAwesome";
        content: ""; }
      .main-nav li i.active:after {
        content: "\f106"; }

  header .header .logo img {
    max-height: 100px; }

  .footer ul {
    margin-bottom: 20px; } }
@media all and (max-width: 767px) {
  header .header {
    padding: 10px 0; }
    header .header .logo img {
      max-height: 80px; }

  .h-tab {
    margin-top: -10px;
    text-align: left; }
    .h-tab li a {
      padding: 6px 10px 4px 10px; }

  .news {
    max-width: 450px; }
    .news .img {
      float: none;
      margin-bottom: 15px; }
    .news .ct {
      margin-left: 0px; } }
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity; }
.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  opacity: 0; }
.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
  opacity: 1; }
.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@-webkit-keyframes zoomInZ {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }
@keyframes zoomInZ {
  0% {
    opacity: 1;
    -webkit-transform: scale(1.15);
    transform: scale(1.15); } }
.dura10 {
  -webkit-animation-duration: 10s;
  animation-duration: 10s; }

.zoomInZ {
  -webkit-animation-name: zoomInZ;
  animation-name: zoomInZ; }

#slider .item img {
  width: 100%;
  min-height: 180px; }
#slider .carousel-indicators {
  z-index: 1; }
  #slider .carousel-indicators li {
    background: #fff;
    width: 12px;
    height: 12px;
    margin: 0 2px; }
    #slider .carousel-indicators li.active {
      background: #ffb628;
      margin: 0 2px;
      border-color: #ffb628; }
/*# sourceMappingURL=style.css.map */